<h1>Chef {{ author.name }}</h1>
<h3>Bio:</h3>
<p>{{ author.bio }}</p>
<h3>Recipes By This Author:</h3>

{% for recipe in personal_recipe_list%}
{%if recipe.author == author %}
<li>
<a href="{% url 'recipe-detail' recipe.pk %}">{{recipe.title}}</a>
</li>
{% endif %}
{% endfor %}
<br />
<h4>{{ author.name }}'s Favorite Recipes<h4>
{% for favorite in author.favorite.all %}
<ul>
    <li><a href='/recipes/{{ favorite.id }}'>{{ favorite }}<a/></li>
</ul>
{% endfor %}
<br />
<a href="../">Return To The Recipe List</a>
