<h1>RecipeBox</h1>
{% if user.is_authenticated %}
  <h2>Welcome Back {{ user.author.name }}!</h2>
<h2>Enjoy some of our wonderful recipes:</h2>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login-page' %}">Login</a>
{% endif %}
<br/>
<br/>
<ul>
{% for recipe in recipes_list%}
<li>
<a href="{% url 'recipe-detail' recipe.pk %}">{{recipe.title}}</a>
</li>
{% endfor %}
</ul>
<br/>
<br/>
<a href="{% url 'recipe-add'%}">Add A Recipe</a>
<br/>
<a href="{% url 'author-add'%}">Add A Recipe Author (Chef)</a>

